<!DOCTYPE html>
<!--

    Copyright (C) chenjunhao.cn, Inc. 2017. All rights reserved.

-->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="talkgene">
  <div id="root"></div>
</body>
</html>
